﻿@model POS.ViewModel.MstCategoryViewModel

@using (Html.BeginForm("Add", "MstCategory", FormMethod.Post, new { @id = "form-mst-category" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <!-- @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" }) -->
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.name, new { @class = "form-control", @placeholder="Category Name"})
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default  pull-left" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </div>
}
