﻿@model POS.ViewModel.MstCategoryViewModel

@using (Html.BeginForm("Edit", "MstCategory", FormMethod.Post, new { @id = "form-mst-category" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" value="@Model.id" id="btn-delete" >X</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}
