﻿@model IEnumerable<POS.ViewModel.MstCategoryViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Category</h3>

        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 250px;">
                <input type="text" id="txt-search" name="txt-search" class="form-control pull-right" placeholder="Search">
                <div class="input-group-btn">
                    <button type="button" id="btn-search" class="btn btn-default"><i class="fa fa-search"></i></button>
                    <button type="button" class="btn btn-info" id="btn-add"><i class="fa fa-plus"></i> &nbsp;Create</button>
                </div>
            </div>
        </div>

    </div>
    <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        Item Stocks
                    </th>
                    <th>
                        #
                    </th>
                </tr>
            </thead>
            <tbody id="list-data">
                @Html.Partial("_List", Model)
            </tbody>
        </table>
    </div>
</div>

<!-- modals JQuery-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-form">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- memanggil btn-add pada tombol Add di atas dg modals-->
@section Scripts{
    <script type="text/javascript">
        function ajaxModal(vUrl, vData, vTitle) {
            $.ajax({
                url: vUrl,
                data: vData,
                type: 'get',
                dataType: 'html',
                success: function (result) {
                    $(".modal-title").html(vTitle);
                    $(".modal-body").html(result);
                    $("#modal-form").modal("show");
                }
            });
        }
        $(document).ready(function () {
            function loadData(url, data) {
                $.ajax({
                    url: url,
                    data: data,
                    type: 'get',
                    dataType: 'html',
                    success: function (data) {
                        $("#list-data").html(data);
                    }
                });
            }

            // show form add
            $("#btn-add").on("click", function () {
                var url = '@Url.Action("Add", "MstCategory")';
                ajaxModal(url, '', "Add Category");
            });

            // search
            $("#btn-search").on("click", function () {
                var url = '@Url.Action("Search", "MstCategory")';
                var data = { keySearch: $('#txt-search').val() };
                loadData(url, data);
            });

            // edit
            $("#list-data").on("click", ".btn-edit", function () {
                var vId = $(this).val();
                var url = '@Url.Action("Edit", "MstCategory")';
                ajaxModal(url, { id: vId }, "Ubah Category");
            });

            // detail
            $("#list-data").on("click", ".btn-detail", function () {
                // mendeklarasikan ID yang dipilih
                var vId = $(this).val();
                var url = '@Url.Action("Detail", "MstCategory")';
                ajaxModal(url, { id: vId }, "Detail Master Role");
            });

            // delete
            $("#modal-form").on("click", "#btn-delete", function () {
                // mengambil ID dari tombol btn-edit (val = value) yang ada di value
                var vId = $(this).val();
                var url = '@Url.Action("Delete", "MstCategory")';
                $.ajax({
                    url: url,
                    type: 'get',
                    dataType: 'json',
                    data: { id: vId },
                    success: function (rdata) {
                        if (rdata.success) {
                            $("#modal-form").modal("hide");
                            loadData('@Url.Action("List", "MstCategory")', null);
                        } else {
                            $(".modal-body").html(rdata);
                            $("#modal-form").modal("show");
                        }
                    }
                });
            });

            // save add data
            $("#modal-form").on("submit", "#form-mst-category", function () {
                // menyimpan data
                var action = $(this).attr('action'); // data nya mau diarahkan ke mana?
                var formData = $(this).serialize();
                $.ajax({
                    url: action,
                    type: 'post',
                    dataType: 'json',
                    data: formData,
                    success: function (rdata) {
                        if (rdata.success) {
                            $("#modal-form").modal("hide");
                            loadData('@Url.Action("List", "MstCategory")', null);
                        } else {
                            $(".modal-body").html(rdata);
                            $("#modal-form").modal("show");
                        }
                    }
                });
                // agar tidak re-direct maka berikan return false
                return false;
            });
        });
    </script>
}
