﻿@model POS.ViewModel.MstRoleViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "MstRole", FormMethod.Post, new { @id = "form-mst-role" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <button type="button" class="btn btn-primary  pull-right" data-dismiss="modal">Cancel</button>
        </div>
    }
</div>
