﻿@model IEnumerable<POS.ViewModel.MstRoleViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_on)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_on)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_on)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_on)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td nowrap="nowrap">
            <button class="btn btn-warning btn-xs btn-edit" value="@item.id"><i class="fa fa-edit"></i> Edit</button>
            <button class="btn btn-success btn-xs btn-detail" value="@item.id"><i class="fa fa-eye"></i> Detail</button>
            <button class="btn btn-danger btn-xs btn-delete" value="@item.id"><i class="fa fa-trash"></i> Hapus</button>
        </td>
    </tr>
}

</table>
