﻿@model IEnumerable<POS.ViewModel.MstRoleViewModel>
@{
    ViewBag.Title = "Index";
}
<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Data Master Role</h3>

        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 250px;">
                <input type="text" id="txt-search" name="txt-search" class="form-control pull-right" placeholder="Search">
                <div class="input-group-btn">
                    <button type="button" id="btn-search" class="btn btn-default"><i class="fa fa-search"></i></button>
                    <button type="button" class="btn btn-info" id="btn-add"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body" id="list-data">
        @Html.Partial("_List", Model)
    </div>
</div>

<!-- modals JQuery-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-form">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    function ajaxModal(vUrl, vData, vTitle) {
        $.ajax({
            url: vUrl,
            data: vData,
            type: 'get',
            dataType: 'html',
            success: function (result) {
                $(".modal-title").html(vTitle);
                $(".modal-body").html(result);
                $("#modal-form").modal("show");
            }
        });
    }
    $(document).ready(function () {
        function loadData(url, data) {
            $.ajax({
                url: url,
                data: data,
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#list-data").html(data);
                }
            });
        }

        // show form add
        $("#btn-add").on("click", function () {
            var url = '@Url.Action("Add", "MstRole")';
            ajaxModal(url, '', "Tambah Role User");
        });

        // search
        $("#btn-search").on("click", function () {
            var url = '@Url.Action("Search", "MstRole")';
            var data = { keySearch: $('#txt-search').val() };
            loadData(url, data);
        });

        // edit
        $("#list-data").on("click", ".btn-edit", function () {
            var vId = $(this).val();
            var url = '@Url.Action("Edit", "MstRole")';
            ajaxModal(url, { id: vId }, "Ubah Master Role");
        });

        // detail
        $("#list-data").on("click", ".btn-detail", function () {
            // mendeklarasikan ID yang dipilih
            var vId = $(this).val();
            var url = '@Url.Action("Detail", "MstRole")';
            ajaxModal(url, { id: vId }, "Detail Master Role");
        });

        // delete
        $("#list-data").on("click", ".btn-delete", function () {
            // mengambil ID dari tombol btn-edit (val = value) yang ada di value
            var vId = $(this).val();
            var url = '@Url.Action("Delete", "MstRole")';
            ajaxModal(url, { id: vId }, "Delete Master Role");
        });

        // save add data
        $("#modal-form").on("submit", "#form-mst-role", function () {
            // menyimpan data
            var action = $(this).attr('action'); // data nya mau diarahkan ke mana?
            var formData = $(this).serialize();
            $.ajax({
                url: action,
                type: 'post',
                dataType: 'json',
                data: formData,
                success: function (rdata) {
                    if (rdata.success) {
                        $("#modal-form").modal("hide");
                        loadData('@Url.Action("List", "MstRole")', null);
                    } else {
                        $(".modal-body").html(data);
                        $("#modal-form").modal("show");
                    }
                }
            });
            // agar tidak re-direct maka berikan return false
            return false;
        });
    });
</script>
}


