﻿ <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Master Data</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index","MstCategory")"><i class="fa fa-circle-o"></i> Category</a></li>
                    <li><a href="@Url.Action("Index","MstCustomer")"><i class="fa fa-circle-o"></i> Customer</a></li>
                    <li><a href="@Url.Action("Index","MstDistrict")"><i class="fa fa-circle-o"></i> District</a></li>
                    <li><a href="@Url.Action("Index","MstRegion")"><i class="fa fa-circle-o"></i> Region</a></li>
                    <li><a href="@Url.Action("Index","MstProvince")"><i class="fa fa-circle-o"></i> Province</a></li>
                    <li><a href="@Url.Action("Index","MstEmployee")"><i class="fa fa-circle-o"></i> Employee</a></li>
                    <li><a href="@Url.Action("Index","MstItem")"><i class="fa fa-circle-o"></i> Item</a></li>
                    <li><a href="@Url.Action("Index","MstItemVariant")"><i class="fa fa-circle-o"></i> Item Variant</a></li>
                    <li><a href="@Url.Action("Index","MstInventory")"><i class="fa fa-circle-o"></i> Inventory</a></li>
                    <li><a href="@Url.Action("Index","MstOutlet")"><i class="fa fa-circle-o"></i> Outlet</a></li>
                    <li><a href="@Url.Action("Index","MstSupplier")"><i class="fa fa-circle-o"></i> Supplier</a></li>
                    <li><a href="@Url.Action("Index","MstRole")"><i class="fa fa-circle-o"></i> Role</a></li>
                    <li><a href="@Url.Action("Index","MstUser")"><i class="fa fa-circle-o"></i> User</a></li>
                </ul>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Transaction</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index","EmployeeOutlet")"><i class="fa fa-circle-o"></i> Employee Outlet</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

