﻿ca@model POS.ViewModel.EmployeeOutletViewModel

@using (Html.BeginForm("Add", "EmployeeOutlet", FormMethod.Post, new { @id = "form-employee-outlet" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.emoloyee_id, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.emoloyee_id, (IEnumerable<SelectListItem>)ViewBag.ListMstEmployee, "= Select Employee =", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.emoloyee_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.outlet_id, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.outlet_id, (IEnumerable<SelectListItem>)ViewBag.ListMstOutlet, "= Select Outlet =", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.outlet_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default  pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">
                Simpan Data
            </button>
        </div>
    </div>
}
