﻿@model IEnumerable<POS.ViewModel.EmployeeOutletViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">List Employee Outlet</h3>
        <div class="box-tools">
            <button type="button" id="btn-add" class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" id="list-data">
        @Html.Partial("_List", Model)
    </div>
</div>

<div id="modal-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts{
    <script type="text/javascript">
    function ajaxModal(vUrl, vData, vTitle) {
        $.ajax({
            url: vUrl,
            data: vData,
            type: 'get',
            dataType: 'html',
            success: function (result) {
                $(".modal-title").html(vTitle);
                $(".modal-body").html(result);
                $("#modal-form").modal("show");
            }
        });
    }
    $(document).ready(function () {
        function loadData(url, data) {
            $.ajax({
                url: url,
                data: data,
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#list-data").html(data);
                }
            });
        }

        // show form add
        $("#btn-add").on("click", function () {
            var url = '@Url.Action("Add", "EmployeeOutlet")';
            ajaxModal(url, '', "Add Employee");
        });

        // search
        $("#btn-search").on("click", function () {
            var url = '@Url.Action("Search", "EmployeeOutlet")';
            var data = { keySearch: $('#txt-search').val() };
            loadData(url, data);
        });

        // edit
        $("#list-data").on("click", ".btn-edit", function () {
            var vId = $(this).val();
            var url = '@Url.Action("Edit", "EmployeeOutlet")';
            ajaxModal(url, { id: vId }, "Ubah Category");
        });

        // detail
        $("#list-data").on("click", ".btn-detail", function () {
            // mendeklarasikan ID yang dipilih
            var vId = $(this).val();
            var url = '@Url.Action("Detail", "EmployeeOutlet")';
            ajaxModal(url, { id: vId }, "Detail Master Role");
        });

        // delete
        $("#modal-form").on("click", "#btn-delete", function () {
            // mengambil ID dari tombol btn-edit (val = value) yang ada di value
            var vId = $(this).val();
            var url = '@Url.Action("Delete", "EmployeeOutlet")';
                $.ajax({
                    url: url,
                    type: 'get',
                    dataType: 'json',
                    data: {id: vId},
                    success: function (rdata) {
                        if (rdata.success) {
                            $("#modal-form").modal("hide");
                            loadData('@Url.Action("List", "EmployeeOutlet")', null);
                        } else {
                            $(".modal-body").html(data);
                            $("#modal-form").modal("show");
                        }
                    }
                });
            });

            // save add data
            $("#modal-form").on("submit", "#form-employee-outlet", function () {
                // menyimpan data
                var action = $(this).attr('action'); // data nya mau diarahkan ke mana?
                var formData = $(this).serialize();
                $.ajax({
                    url: action,
                    type: 'post',
                    dataType: 'json',
                    data: formData,
                    success: function (rdata) {
                        if (rdata.success) {
                            $("#modal-form").modal("hide");
                            loadData('@Url.Action("List", "EmployeeOutlet")', null);
                    } else {
                        $(".modal-body").html(data);
                        $("#modal-form").modal("show");
                    }
                }
            });
            // agar tidak re-direct maka berikan return false
            return false;
        });
    });
    </script>
}
