﻿@model POS.ViewModel.MstItemViewModel

@using (Html.BeginForm("Add", "MstItem", FormMethod.Post, new { @id = "form-mst-item" }))
{

    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">Item</h3>
        </div>
        <div class="box-body">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.category_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.category_id, (IEnumerable<SelectListItem>)ViewBag.ListCategory, "=Pilih Category=", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">List Variant</h3>
            <div class="box-tools">
                <button id="btn-add-variant" type="button" class="btn btn-primary btn-sm">Add Variant</button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>SKU</th>
                        <th>Price</th>
                        <th>Begin Stock</th>
                        <th>Alert At</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody id="list-variant"></tbody>
            </table>
        </div>
        <div class="box-footer">
            <input type="reset" id="btn-cancel" value="Cancel" class="btn btn-default btn-primary" />
            <input type="submit" id="btn-create" value="Save" class="btn btn-default btn-primary"/>
        </div>
    </div>
}




