﻿@model POS.ViewModel.MstItemVariantViewModel



<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">


        <div class="col-md-4">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Variant Name" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Unit Price" } })
            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            @Html.EditorFor(model => model.sku, new { htmlAttributes = new { @class = "form-control", @placeholder = "SKU" } })
            @Html.ValidationMessageFor(model => model.sku, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-4">
            @Html.EditorFor(model => model.begining_stok, new { htmlAttributes = new { @class = "form-control", @placeholder = "begining Sstok" } })
            @Html.ValidationMessageFor(model => model.begining_stok, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            @Html.EditorFor(model => model.alert_at, new { htmlAttributes = new { @class = "form-control", @placeholder = "alert At" } })
            @Html.ValidationMessageFor(model => model.alert_at, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
        </button>
        <button type="button" class="btn btn-primary pull-right" id="btn-add-variant">
            Add
        </button>
    </div>
</div>

