﻿@model IEnumerable<POS.ViewModel.MstItemViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">List Item</h3>
        <div class="box-tools">
            <button type="button" id="btn-export" class="btn btn-primary btn-sm">
                <i>Export</i>
            </button>
            <button type="button" id="btn-add" class="btn btn-primary btn-sm">
                <i>Create</i>
            </button>
        </div>
    </div>
    <div class="box-body" id="list-data">
        @Html.Partial("_List", Model)
    </div>
</div>

<!--------------------------------------------------------------------------------------------->
<div id="modal-form" class="modal fade " tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-------------------------------------------------------------------------------------------->
<div id="modal-variant" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Item Variant</h4>
            </div>
            <div class="modal-body">
                <p>Item Variant&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <script type="text/javascript">
        //Function Ajax
        function ajaxModal(vUrl, vData, vTitle) {
            $.ajax({
                url: vUrl,
                data: vData,
                type: 'get',
                dataType: 'html',
                success: function (result) {
                    $("#modal-form .modal-title").html(vTitle);
                    $("#modal-form .modal-body").html(result);
                    $("#modal-form").modal('show');
                }
            });
        }

        //add item variant to list(tabel)
        $("#modal-variant").on("click", "#btn-add-variant", function () {
            var nama = $("#modal-variant").find("#name").val();
            var price = $("#modal-variant").find("#price").val();
            var sku = $("#modal-variant").find("#sku").val();
            var begining_stok = $("#modal-variant").find("#begining_stok").val();
            var alert_at = $("#modal-variant").find("#alert_at").val();
            var index = $("#modal-form #list-variant >tr").length;
            var dataItem = '<tr>' +
                '<td><input type="text" name="Detail[' + index + '].name" value="' + nama + '" class="form-control"/></td>' +
                '<td><input type="text" name="Detail[' + index + '].price" value="' + price + '" class="form-control"/></td>' +
                '<td><input type="text" name="Detail[' + index + '].sku" value="' + sku + '" class="form-control"/></td>' +
                '<td><input type="text" name="Detail[' + index + '].begining_stok" value="' + begining_stok + '" class="form-control"/></td>' +
                '<td><input type="text" name="Detail[' + index + '].alert_at" value="' + alert_at + '" class="form-control"/></td>' +
                '</tr>';
            //menambahkan ke tabel
            $("#modal-form #list-variant").append(dataItem);
            $("#modal-variant").modal("hide");
        });

        //Load data
        function loadData() {
            $.ajax({
                url: '@Url.Action("List","MstItem")',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#list-data").html(data);
                }
            });
        }

        //Event Submit
        $("#modal-form").on("submit", "#form-mst-item", function () {
            var action = $(this).attr('action');
            var formData = $(this).serialize();
            $.ajax({
                url: action,
                type: 'post',
                dataType: 'json',
                data: formData,
                success: function (rdata) {
                    if (rdata.success) {
                        $("#modal-form").modal("hide");
                        // memanggil method load data
                        loadData();
                    } else {
                        $(".modal-body").html(rdata);
                        $("#modal-form").modal("show");
                    }
                }
            });
            return false;
        });

<<<<<<< HEAD

=======
>>>>>>> 21f8be310b7515d45681e9072ceeece6fc234e47
    //button click Add
    $("#btn-add").on("click", function () {
        ajaxModal('@Url.Action("Add","MstItem")', null, "Item")
    });


        //button click Add Variant
        $("#modal-form").on("click", "#btn-add-variant", function () {
            $.ajax({
                url: '@Url.Action("AddVariant","MstItem")',
                type: 'get',
                dataType: 'html',
                success: function (result) {
                    $("#modal-variant .modal-title").html("Add Variant");
                    $("#modal-variant .modal-body").html(result);
                    $("#modal-variant").modal('show');
                }
            });
        });

        //button Edit
        $("#list-data").on("click", ".btn-edit", function () {
            var vId = $(this).val()
            ajaxModal('@Url.Action("Edit","MstItem")', { id: vId }, "Edit Item")
        });

    </script>
}



