﻿@model POS.ViewModel.MstOutletViewModel

@using (Html.BeginForm("Edit", "MstOutlet", FormMethod.Post, new { @id = "form-outlet" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)


        <div class="form-group">
            
            <div class="col-md-12">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
           
        </div>

        <div class="form-group">
            
            <div class="col-md-12">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
            
        </div>

        <div class="form-group">


            <div class="col-md-4">
                @Html.DropDownListFor(model => model.province_id, (IEnumerable<SelectListItem>)ViewBag.ListProvince, "Province", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.province_id, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.DropDownListFor(model => model.region_id, (IEnumerable<SelectListItem>)ViewBag.ListRegion, "Region", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.region_id, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.DropDownListFor(model => model.district_id, (IEnumerable<SelectListItem>)ViewBag.ListDistrict, "District", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.district_id, "", new { @class = "text-danger" })
            </div>


        </div>

        <div class="form-group">
            
                
                <div class="col-md-4">
                    @Html.EditorFor(model => model.postal_code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.postal_code, "", new { @class = "text-danger" })
                </div>
                
                <div class="col-md-4">
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>
                
                <div class="col-md-4">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
                
           
        </div>

        <!--Hapus aja
        <div class="form-group">
            
            <div class="col-md-12">
                @Html.EditorFor(model => model.active, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
            </div>

        </div>
            -->

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>
            <button type="submit" class="btn btn-primary pull-right">
                Save
            </button>
        </div>
    </div>
}

