﻿@model IEnumerable<POS.ViewModel.MstOutletViewModel>

@{
    ViewBag.Title = "Index outlet";
}

<div class="box box-info">

    <div class="box-header">
        <div class="form-group">
            <h3 class="box-title">&nbsp;outlet</h3>

        </div>
        <div class="form-group">
            <div class="box-tools">

                <div class="input-group input-group-sm" style="width: 250px;">
                    <input type="text" id="txt-search" name="txt-search" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button type="button" id="btn-search" class="btn btn-default"><i class="fa fa-search"></i></button>
                        <button type="button" class="btn btn-info" id="btn-add"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="box-body" id="list-data">
        @Html.Partial("_List", Model)
    </div>
</div>

<div id="modal-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts{
    <script type="text/javascript">
        // fungsi modal
        function ajaxModal(vUrl, vData, vTitle) {
            $.ajax({
                url: vUrl,
                data: vData,
                type: 'get',
                dataType: 'html',
                success: function (result) {
                    $(".modal-title").html(vTitle);
                    $(".modal-body").html(result);
                    $("#modal-form").modal('show');
                }
            });
        }

        //method load data
        function loadData(url, data) {
            $.ajax({
                url: url,
                data: data,
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#list-data").html(data);
                }
            });
        }

        $(document).ready(function () {
            // menekan button create
            $("#btn-add").on("click", function () {
                ajaxModal('@Url.Action("Add","MstOutlet")', null, "outlet Detail - Add");
            });

            // menekan button edit
            $("#list-data").on("click", ".btn-edit", function () {
                // mendeklarasikan id yang dipilih
                var vId = $(this).val();
                // memanggil method ajaxModel diatas
                ajaxModal('@Url.Action("Edit","MstOutlet")', { id: vId }, "outlet Detail - Edit");
            });

            // event form submit
            $("#modal-form").on("submit", "#form-outlet", function () {
                var action = $(this).attr('action');
                var formData = $(this).serialize();
                $.ajax({
                    url: action,
                    type: 'post',
                    dataType: 'json',
                    data: formData,
                    success: function (rdata) {
                        if (rdata.success) {
                            // menyembunyikan modal
                            $("#modal-form").modal("hide");
                            // memanggil method load data
                            loadData('@Url.Action("List","MstOutlet")', null);
                        } else {
                            $(".modal-body").html(rdata);
                            $("#modal-form").modal("show");
                        }
                    }
                });
                return false;
            });

            // search
            $("#btn-search").on("click", function () {
                var url = '@Url.Action("Search", "MstOutlet")';
                var data = { keySearch: $('#txt-search').val() };
                loadData(url, data);
            });

            //provinsi di pilih
            $("#modal-form").on("change", "#province_id", function () {
                var vId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetRegion", "Ajax")',
                    data: { provinceId: vId },
                    type: 'get',
                    dataType: 'json',
                    success: function (result) {
                        $("#modal-form").find("#region_id").empty();
                        $("#modal-form").find("#region_id").append('<option>Region</option>');
                        $.each(result, function (index, item) {
                            $("#modal-form").find("#region_id").append('<option value="' + item.id + '">' + item.name + '</option>');
                        });
                    }
                });
            });

            // Kota di pilih
            $("#modal-form").on("change", "#region_id", function () {
                var vId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetDistrict", "Ajax")',
                    data: { regionId: vId },
                    type: 'get',
                    dataType: 'json',
                    success: function (result) {
                        $("#modal-form").find("#district_id").empty();
                        $("#modal-form").find("#district_id").append('<option>District</option>');
                        $.each(result, function (index, item) {
                            $("#modal-form").find("#district_id").append('<option value="' + item.id + '">' + item.name + '</option>');
                        });
                    }
                });
            });
        });
    </script>
}
