﻿@model IEnumerable<POS.ViewModel.MstUserViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Data Master User</h3>
        <div class="box-tools">
            <button class="btn btn-info btn-sm" id="btn-add">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" id="list-data">
        @Html.Partial("_List", Model)
    </div>
</div>

<!-- modals JQuery-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-form">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    function ajaxModal(vUrl, vData, vTitle) {
        $.ajax({
            url: vUrl,
            data: vData,
            type: 'get',
            dataType: 'html',
            success: function (result) {
                $(".modal-title").html(vTitle);
                $(".modal-body").html(result);
                $("#modal-form").modal("show");
            }
        });
    }
    $(document).ready(function () {
        function loadData() {
            $.ajax({
                url: '@Url.Action("List", "MstUser")',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#list-data").html(data);
                }
            });
        }

        // show form add
        $("#btn-add").on("click", function () {
            var url = '@Url.Action("Add", "MstUser")';
            ajaxModal(url, '', "Tambah User");
        })

        // edit
        $("#list-data").on("click", ".btn-edit", function () {
            var vId = $(this).val();
            var url = '@Url.Action("Edit", "MstUser")';
            ajaxModal(url, { id: vId }, "Ubah User");
        });

        // detail
        $("#list-data").on("click", ".btn-detail", function () {
            // mendeklarasikan ID yang dipilih
            var vId = $(this).val();
            var url = '@Url.Action("Detail", "MstUser")';
            ajaxModal(url, { id: vId }, "Detail User");
        });

        // delete
        $("#list-data").on("click", ".btn-delete", function () {
            // mengambil ID dari tombol btn-edit (val = value) yang ada di value
            var vId = $(this).val();
            var url = '@Url.Action("Delete", "MstUser")';
            ajaxModal(url, { id: vId }, "Delete User");
        });

        // save add data
        $("#modal-form").on("submit", "#form-mst-user", function () {
            // menyimpan data
            var action = $(this).attr('action'); // data nya mau diarahkan ke mana?
            var formData = $(this).serialize();
            $.ajax({
                url: action,
                type: 'post',
                dataType: 'json',
                data: formData,
                success: function (rdata) {
                    if (rdata.success) {
                        $("#modal-form").modal("hide");
                        loadData();
                    } else {
                        $(".modal-body").html(data);
                        $("#modal-form").modal("show");
                    }
                }
            });
            // agar tidak re-direct maka berikan return false
            return false;
        });
    });
    </script>
}
