﻿@model POS.ViewModel.MstEmployeeViewModel

@using (Html.BeginForm("Add", "MstEmployee", FormMethod.Post, new { @id = "form-mst-employee" }))
{
    <div class="box box-info">
        <div class="box-header">
           
        </div>
        <div class="box-body">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                        @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                        @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("Gender", new List<SelectListItem>
                   {
                             new SelectListItem{ Text="Mr.", Value="Mr"},
                             new SelectListItem{ Text="Ms.", Value="Ms"}
                    }, "Title"
                )
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <div class="box-tools">

                            <button id="btn-add-outlet" type="button" class="btn btn-primary">Assign Outlet</button>
                        </div>
                    </div>

                   
                    <div class="col-md-4">
                        <label for="chkAccount">
                            <input type="checkbox" id="chkAccount" />
                            Create Account?
                        </label>
                    </div>

                </div>

                <div class="form-group" id="dvRole" style="display:none;">
                    <hr />
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.id, (IEnumerable<SelectListItem>)ViewBag.listRole, "= Pilih Role =", new { @class = "form-control" })
                    </div>
                   
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Outlet ID</th>
                            <th>Outlet Name</th>
                        </tr>
                    </thead>
                    <tbody id="list-outlet">

                    </tbody>
                </table>

                <div class="form-group">
                   
                    <button id="btn-save" type="button" class="btn btn-primary pull-right">Save</button>
                    
                    <button id="btn-cancle" type="button" class="btn btn-primary pull-right">Cancle</button>

                </div>

            </div>
        </div>
    </div>
}


