﻿@model POS.ViewModel.EmployeeOutletViewModel

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.outlet_id, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-7">
            @Html.DropDownListFor(model => model.outlet_id, (IEnumerable<SelectListItem>)ViewBag.ListOutlet, "=Pilih Outlet=", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.outlet_id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
        </button>
        <button type="button" class="btn btn-primary pull-right" id="btn-pilih-outlet">
            Add
        </button>
    </div>
</div>
