﻿@model IEnumerable<POS.ViewModel.MstEmployeeViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Employee List</h3>

        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 250px;">
                <input type="text" id="txt-search" name="txt-search" class="form-control pull-right" placeholder="Search">
                <div class="input-group-btn">
                    <button type="button" id="btn-search" class="btn btn-default"><i class="fa fa-search"></i></button>
                    <button type="button" id="btn-add" class="btn btn-info"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="box-body" id="list-data">
        @Html.Partial("_List", Model)
    </div>

</div>

<!-- modals JQuery-->
<div id="modal-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

<!-- modals JQuery-->
<div id="modal-outlet" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        function ajaxModal(vUrl, vData, vTitle) {
            $.ajax({
                url: vUrl,
                data: vData,
                type: 'get',
                dataType: 'html',
                success: function (result) {
                    $("#modal-form .modal-title").html(vTitle);
                    $("#modal-form .modal-body").html(result);
                    $("#modal-form").modal('show');
                }
            });
        }

        //Load data
        function loadData() {
            $.ajax({
                url: '@Url.Action("List", "MstEmployee")',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#list-data").html(data);
                }
            });
        }

        $(document).ready(function () {

            $("#modal-form").on("click", "#chkAccount", function () {
                if ($(this).is(":checked")) {
                    $("#dvRole").show();
                } else {
                    $("#dvRole").hide();
                }
            });


            //button click Add Variant
            $("#modal-form").on("click", "#btn-add-outlet", function () {
                $.ajax({
                    url: '@Url.Action("AddOutlet", "MstEmployee")',
                    type: 'get',
                    dataType: 'html',
                    success: function (result) {
                        $("#modal-outlet .modal-title").html("Add Outlet");
                        $("#modal-outlet .modal-body").html(result);
                        $("#modal-outlet").modal('show');
                    }
                });
            });

            $("#modal-outlet").on("click", "#btn-pilih-outlet", function () {
                var outletId = $("#modal-outlet #outlet_id").val();
                var outletName = $("#modal-outlet #outlet_id option:selected").text();
                var index = $("#modal-form #list-outlet >tr").length;
                var data = '<tr>' +
                        '<td><input type="text" name="EmployeeOutlet[' + index + '].outlet_id" value="' + outletId + '" class="form-control" /></td>' +
                         '<td>' + outletName  + '</td>' +
                    '</tr>';

                $("#modal-form #list-outlet").append(data);
            });

            // event add
            //$("#btn-add").click(function () {
            $("#btn-add").on("click", function () {
                ajaxModal('@Url.Action("Add", "MstEmployee")', null, "Add Emloyee");
            });

            // event detail data
            $("#list-data").on("click", ".btn-detail", function () {
                // mendeklarasikan id yang dipilih
                var vId = $(this).val();
                // memanggil method ajaxModel diatas
                ajaxModal('@Url.Action("Detail","MstEmployee")', { id: vId }, "Add MstEmployee");
            });

            // event Edit data
            $("#list-data").on("click", ".btn-edit", function () {
                // mendeklarasikan id yang dipilih
                var vId = $(this).val();
                // memanggil method ajaxModel diatas
                ajaxModal('@Url.Action("Edit","MstEmployee")', { id: vId }, "Edit Data MstEmployee");
            });

            // event Delete data
            $("#list-data").on("click", ".btn-delete", function () {
                // mendeklarasikan id yang dipilih
                var vId = $(this).val();
                // memanggil method ajaxModel diatas
                ajaxModal('@Url.Action("Delete","MstEmployee")', { id: vId }, "Edit Data MstEmployee");
            });

            // event form submit
            $("#modal-form").on("submit", "#form-employee", function () {
                var action = $(this).attr('action');
                var formData = $(this).serialize();
                $.ajax({
                    url: action,
                    type: 'post',
                    dataType: 'json',
                    data: formData,
                    success: function (result) {
                        if (result.success) {
                            // menyembunyikan modal
                            $("#modal-form").modal("hide");
                            // memanggil method load data
                            loadData();
                        } else {
                            $(".modal-body").html(rdata);
                            $("#modal-form").modal("show");
                        }
                    }
                });
                return false;
            });
        });

    </script>
}
