﻿@model POS.ViewModel.MstCustomerViewModel
<link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
@using (Html.BeginForm("Add", "MstCustomer", FormMethod.Post, new { @id = "form-mst-Customer" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <!-- @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" }) -->
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.name, new { @class = "form-control", @placeholder="Name"})
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <!-- @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" }) -->
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "Email" })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <!-- @Html.LabelFor(model => model.phone , htmlAttributes: new { @class = "control-label col-md-2" }) -->
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.phone , new { @class = "form-control", @placeholder = "Phone Number" })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <!-- @Html.LabelFor(model => model.dob  , htmlAttributes: new { @class = "control-label col-md-2" }) -->
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.dob, new { @class = "form-control datepicker", @placeholder = "Date Of Birth" })
                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <!-- @Html.LabelFor(model => model.address  , htmlAttributes: new { @class = "control-label col-md-2" }) -->
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.address, new { @class = "form-control", @placeholder = "Address" })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.province_id, (IEnumerable<SelectListItem>)ViewBag.ListProvince, "Province", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.province_id, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.DropDownListFor(model => model.region_id, (IEnumerable<SelectListItem>)ViewBag.ListRegion, "Region", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.region_id, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.DropDownListFor(model => model.district_id, (IEnumerable<SelectListItem>)ViewBag.ListDistrict, "District", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.district_id, "", new { @class = "text-danger" })
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default  pull-left" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </div>
}
<script src="~/Scripts/plugins/datepicker/bootstrap-datepicker.js"></script>
<script>
    $(function () {
        $(".datepicker").datepicker({
            autoclose: true,
            format:"dd/MM/yyyy"
        });
    });
</script>