﻿@model IEnumerable<POS.ViewModel.MstCustomerViewModel>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            <button class="btn btn-warning btn-xs btn-edit" value="@item.id"><i class="fa fa-edit"></i> Edit</button>
            <button class="btn btn-success btn-xs btn-detail" value="@item.id"><i class="fa fa-eye"></i> View</button>
        </td>
    </tr>
}
